<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>

<body>
  <h1>Message board</h1>
  <%- include('../components/navbar') %>
  <% messages.forEach((mes) => { %>
   <div>
    <%= mes.author %>: <%= mes.text %>
    <br>
    <%= mes.added.toDateString() %> <a href="./details/<%= mes.id %>">Details</a>
   </div>
  <% }) %>
</body>

</html>